body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fdfaf6; /* cream lembut */
    color: #5a4a42; /* coklat soft */
}

header {
    background-color: #f8ede3; /* beige soft */
    text-align: center;
    padding: 40px;
}

header h1 {
    margin: 0;
    font-size: 32px;
    color: #6d5c53;
}

nav {
    text-align: center;
    background-color: #fdf6f0; /* sangat soft */
    padding: 12px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #7a6c63;
    font-weight: 500;
}

nav a:hover {
    color: #b08968; /* coklat hangat */
}

section {
    width: 85%;
    margin: 25px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.03);
}

h2 {
    color: #6d5c53;
}

ul {
    padding-left: 20px;
}

.card {
    background: #fef6f0; /* pink sangat lembut */
    padding: 18px;
    border-radius: 10px;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #f8ede3;
    margin-top: 30px;
    color: #6d5c53;
}